@import "_foundation/normalize";
@import "_foundation/foundation";

html{ 
  overflow-y: scroll;
}

h1{
  font-size: 65px;
  font-weight: 300;
  text-align: center;
  line-height: 1.1em;
  margin-bottom: 20px;
}

.lead{
  white-space: pre;

  i.fa{

  }
}

.wrapper{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.main{
  padding: 20px 0;
}

#index {
  table {
    width:100%;

    tr td {
      text-align: center;
    }
  }

}

.inline-list-centered{
  list-style-type: none;
  margin-bottom: 0;
  li{
    display: inline-block;
    margin: 0 1em;
  }
}