form(role="form")
  .form-group
    label(for="name") Your name
    input(type="text" id="name" placeholder="Your name").form-control
  .form-group
    label(for="mail") Your e-mail
    input(type="e-mail" id="mail" placeholder="Your e-mail").form-control
  .form-group
    label(for="message") Your message
    textarea(id="message").form-control
  button(type="submit").btn.btn-default Submit
    