#index
	.icon-bar.three-up
		a.item(href="http://pp.sakisan.be")
			i.fa.fa-bar-chart 
			label pp graphics
		a.item(href="http://augmented-chess.sakisan.be")
			i.fa.fa-th-large
			label augmented chess
		a.item(href="http://saki.madoka.be/docs/Editeur1.swf")
			i.fa.fa-picture-o
			label map editor

	table(role="grid")
		colgroup
			col(span="1" style="width: 33%")
			col(span="1" style="width: 33%")
			col(span="1" style="width: 33%")
		tbody
			tr
				td 2014
				td 2013
				td 2010
			tr
				td
					a(href="http://osu.ppy.sh/") osu!
				td
					a(href="https://www.youtube.com/watch?v=SM2fcenx7KU") chess
				td
					a(href="http://extinction.fr/") Aaaah !
			tr
				td
					ul.inline-list-centered
						li 
							a(href="http://emberjs.com/") Ember
						li
							a(href="http://restlet.com/products/restlet-framework/") Restlet
						li
							a(href="http://lucene.apache.org/solr/") Solr
				td 
					ul.inline-list-centered
						li
							a(href="http://harpjs.com/") Harp
						li
							a(href="http://coffeescript.org/") CoffeeScript
				td 
					ul.inline-list-centered
						li ActionScript 3