.icon-bar.three-up
	a.item(href="http://pp.sakisan.be")
		i.fa.fa-bar-chart 
		label pp graphics
	a.item(href="http://augmented-chess.sakisan.be")
		i.fa.fa-th-large
		label augmented chess
	a.item(href="http://saki.madoka.be/docs/Editeur1.swf")
		i.fa.fa-picture-o
		label map editor aaaah !