nav.navbar.navbar-default
  .collapse navbar-collapse
  ul.nav.navbar-nav
    each name in ["Home", "About", "Contact"]
      li(class=(current.source === name ? 'active' : ''))
        a(href="/#{name}")= name